body{
	background-color: whitesmoke;
}


h1{
	font-family: 'Ubuntu', sans-serif;
	color: skyblue;
}

p{
	font-family: 'Ubuntu', sans-serif;
}

li{
	font-family: 'Ubuntu', sans-serif;
}

{
	color: red;
}